.client {
  clear: both;
  display: flex;
  justify-content: center;
}

.client-box {
  margin: 20px;
  padding: 20px;
  width: 25%;
  height: 200px;
  text-align: center;
  background-color: aquamarine;
}

.client-box p {
  margin-top: 60px;
}
